.blocksWr
    each b in blocks
        .blockItem.mt-2(id=b.id ready=b.Ready approve=b.Approve)
            .blockItemTitleWr
                .blockItemType #{b.type}
                .blockItemTitle #{b.Name}
            if(b.BlockText.length<2)
                .blockItemText ==НЕТ ТЕКСТА==
            else
                .blockItemText
                    .mt-2
                        input(type="button" value="Копировать весь текст")
                        input(type="button" value="Свернуть" onclick="this.parentNode.parentNode.parentNode.parentNode.classsList.remove('expand')")
                    .blockItemTextValue.mt-2   #{b.BlockText}
