.blocksWr
    each b in blocks
        .blockItem.mt-2(id=b.id ready=b.Ready approve=b.Approve)
            .blockItemTitleWr
                .blockItemType #{b.type}
                .blockItemTitle #{b.Name}
            if(b.BlockText.length<2)
                .blockItemText ==НЕТ ТЕКСТА==
            else
                .mt-2
                    input(type="button" value="копировать весь текст")
                .blockItemText #{b.BlockText}
