.blocksWr
    each b in blocks
        .blockItem.mt-2(id=b.Id ready=b.Ready approve=b.Approve)
            .blockItemTitleWr
                .blockItemType #{b.type}
                div
                    .blockItemTitle #{b.Name}
                    div.blockAuthor
                        span.blockAuthorTitle Автор:
                        span.blockAuthorName #{b.username}
                    div.blockEditor
                        span.blockAuthorTitle Монтажеры:
                        span.blockEditorName.blockAuthorName
                    div.blockEditor
                        span.blockAuthorTitle Титры:
                        span.blockTitleName.blockAuthorName
            if(b.BlockText.length<2)
                .blockItemText ==НЕТ ТЕКСТА==
            else
                .blockItemText
                    .mt-2
                        input.CopyBtn(type="button" value="Копировать весь текст" onclick="copyBlockText("+b.Id+")")
                        input(type="button" value="Свернуть" onclick="this.parentNode.parentNode.parentNode.classList.remove('expand')")
                    .blockItemTextValue.mt-2   #{b.BlockText}
