html
    head
        title="Статистика"
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/axios.min.js"></script>
        style.
            .workContainer{
                display: flex;
                justify-content: left;
                align-items: flex-start;
            }
            .newsContainer{
                width: 300px;
                box-sizing: border-box;
                padding: 12px;
                height: calc(100vh - 140px);
                overflow-y: auto;
            }
            .newsItem{
                cursor: pointer;
                width: 100%;
                padding: 8px;

                border-radius: 8px;
            }
            .newsItem:hover{
                background: #eeeeee;
            }
            .newsItem.active{
                color: white;
                background: #206a20;
            }
            .blockContainer{
                width: calc(100% - 300px);
                box-sizing: border-box;
                padding: 12px;
                height: calc(100vh - 140px);
                overflow-y: auto;
            }

            .blockItemTitleWr{
                display: flex;
                align-items: flex-start;
                justify-content: left;
                cursor: pointer;
                background-color: #eeeeee;
                padding: 12px;
                border-left: 2px solid gray;
            }

            .blockItem[approve] .blockItemTitleWr{

                background-color: #ebffe0;
                border-left:2px solid yellow;
            }
            .blockItem[ready] .blockItemTitleWr{

                background-color: #ebffe0;
                border-left:2px solid green;
            }

            .blockItemTitleWr:hover {
                background-color: #e2e2e2 !important;
            }
            .blockItemType{
                font-weight: bold;
                width: 100px;
                margin-right: 12px;
            }
            .blockItemText{
                white-space: break-spaces;
                padding-left: 20px;
                box-sizing: border-box;
                width: calc(100% - 20px);
                display: none;
            }
            .blockItem.expand .blockItemText{
                display: block;
            }
            .newsItemTitle{
                font-weight: bold;
            }

            .pgmSelector{
                font-size: 18px;
                font-weight: bold;
            }
            .blockAuthorName{
                margin-left:12px;
                font-weight: bold;
            }
            .blockAuthorTitle{
                display: inline-block;
                width: 185px;
            }

    body
        .container
            #app
                input.mt-4(type="button" onclick="document.location.href='http://may.stv.local'" value="Вернуться к основному окну")
                select.pgmSelector.mt-2( class="form-select" aria-label="Default select example" onchange="changeProg(this.value)")
                    option(value=0) Выберите программу
                    each p in prog
                        option(value=p.id) !{p.Name}
            .workContainer.mt-4
                .newsContainer
                .blockContainer
        script.
            function copyBlockText(blockId){
                let wr=document.getElementById(blockId);
                let btn=wr.querySelector(".CopyBtn")
                let textCtrl=wr.querySelector(".blockItemTextValue")
                let tmp=btn.value;
                btn.value="Весь текст скопирован"
                copyText(textCtrl.innerText)
                setTimeout(()=>{btn.value=tmp},1000)
            }
            function copyText(txt) {
                var textArea = document.createElement("textarea");
                textArea.style.position = 'fixed';
                textArea.style.top = 0;
                textArea.style.left = 0;
                textArea.style.opacity = 0;
                textArea.value = txt;
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();
                document.execCommand('copy');
                document.body.removeChild(textArea)
            }
            async function changeProg(id){
                let dt=await axios.get("/news/"+id);
                document.querySelector(".newsContainer").innerHTML=dt.data
                document.querySelectorAll(".newsItem").forEach(e=>{

                    let newsid=e.getAttribute("newsid")
                    let isArchive=e.getAttribute("isarchive")
                    e.querySelector(".staffBtn").onclick = async (event) => {
                        event.preventDefault()
                        event.stopPropagation();
                        document.querySelectorAll(".newsItem").forEach(as => {
                            as.classList.remove("active")
                        })
                        e.classList.add("active")
                        let blocks;
                        if (e.getAttribute("isarchive"))
                            blocks = await axios.get("/archblocks/" + newsid);
                        else
                            blocks = await axios.get("/blocks/" + newsid);
                        document.querySelector(".blockContainer").innerHTML = blocks.data
                        document.querySelectorAll(".blockItem").forEach(e => {
                            let textElem = e.querySelector(".blockItemTextValue");
                            if (textElem) {
                                let a = textElem.innerHTML
                                textElem.innerHTML = a
                                    .replace(/(\(\([^\)]*(?:\)[^\)]+)*\)\))/gm, "<span style='color:red'>$1</span>")
                                    .replace(/[\r\n]{2,}/g, "\n\n")
                                let src=textElem.innerText;
                                let editors=[];
                                let m=src.match(/\(\(МОНТ\s?([^\)]+)\)\)/gm)
                                if(m)
                                    m.forEach(mm=>{editors.push(mm.replace("((МОНТ ", "").replace("))", ""))})
                                editors = editors.filter(function (elem, pos) {return editors.indexOf(elem) == pos;})
                                //console.log(editors)
                                let titles = [];
                                 m = src.match(/\(\(ТИТР\s?([^\)]+)\)\)/gm)
                                if (m)
                                    m.forEach(mm => {
                                        titles.push(mm.replace("((ТИТР ", "").replace("))", ""))
                                    })
                                titles = titles.filter(function (elem, pos) {
                                    return titles.indexOf(elem) == pos;
                                })
                                console.log(titles)


                                //textElem.innerHTML="выборка"
                                //console.log(JSON.stringify(textElem.innerHTML))
                            }
                            e.querySelector(".blockItemTitleWr").onclick = () => {
                                e.classList.toggle("expand");
                            }

                        })

                    }
                    e.querySelector(".scriptBtn").onclick=()=>{
                        let url="BlockScript?newsid="+newsid;
                        if(isArchive)
                            url+="&isarchive=true";
                        window.open(url,'_blank', 'width=' + window.screen.availWidth / 2 + ',height=' + window.screen.availHeight / 2 + ',resizable=1')
                    }
                    e.onclick=async()=>{
                        document.querySelectorAll(".newsItem").forEach(as=>{as.classList.remove("active")})
                        e.classList.add("active")
                        let blocks;
                        if(e.getAttribute("isarchive"))
                            blocks =await axios.get("/archblocks/"+newsid);
                        else
                            blocks =await axios.get("/blocks/"+newsid);
                        document.querySelector(".blockContainer").innerHTML = blocks.data
                        document.querySelectorAll(".blockItem").forEach(e=>{
                            let textElem=e.querySelector(".blockItemTextValue");
                            if(textElem) {
                                let a = textElem.innerHTML
                                textElem.innerHTML = a
                                    .replace(/(\(\([^\)]*(?:\)[^\)]+)*\)\))/gm, "<span style='color:red'>$1</span>")
                                    .replace(/[\r\n]{2,}/g,"\n\n")
                                //console.log(JSON.stringify( textElem.innerHTML))
                                let src = textElem.innerText;
                                let editors = [];
                                let m = src.match(/\(\(МОНТ\s?([^\)]+)\)\)/gm)
                                if (m)
                                    m.forEach(mm => {
                                        editors.push(mm.replace("((МОНТ ", "").replace("))", ""))
                                    })
                                editors = editors.filter(function (elem, pos) {
                                    return editors.indexOf(elem) == pos;
                                })
                                //console.log(editors)
                                let titles = [];
                                m = src.match(/\(\(ТИТР\s?([^\)]+)\)\)/gm)
                                if (m)
                                    m.forEach(mm => {
                                        titles.push(mm.replace("((ТИТР ", "").replace("))", ""))
                                    })
                                titles = titles.filter(function (elem, pos) {
                                    return titles.indexOf(elem) == pos;
                                })

                                let editorsString = editors.reduce((i, item) => {
                                    return i + " " + item + ","
                                }, "")
                                editorsString=editorsString
                                .replace(/^\s+/,"")
                                .replace(/,$/,"")
                                e.querySelector(".blockEditorName").innerHTML = editorsString
                                console.log(editors, editorsString, e.querySelector(".blockEditorName"))

                            }
                            e.querySelector(".blockItemTitleWr").onclick=()=>{
                                e.classList.toggle("expand");
                            }

                        })
                    }

                })
            }


