html
    head
        title="Статистика"
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/axios.min.js"></script>
        style.
            .workContainer{
                display: flex;
                justify-content: left;
                align-items: flex-start;
            }
            .newsContainer{
                width: 300px;
                box-sizing: border-box;
                padding: 12px;
                height: calc(100vh - 52px);
                overflow-y: auto;
            }
            .newsItem{
                cursor: pointer;
                width: 100%;
            }
            .blockContainer{
                width: calc(100% - 300px);
                box-sizing: border-box;
                padding: 12px;
                height: calc(100vh - 52px);
                overflow-y: auto;
            }

            .blockItemTitleWr{
                display: flex;
                align-items: flex-start;
                justify-content: left;
                cursor: pointer;
                background-color: #e2e2e2;
                padding: 4px;
                border-left: 2px solid gray;
            }
            .blockItem[approve] .blockItemTitleWr{

                background-color: #ebffe0;
                border-left:2px solid yellow;
            }
            .blockItem[ready] .blockItemTitleWr{

                background-color: #ebffe0;
                border-left:2px solid green;
            }
            .blockItemType{
                font-weight: bold;
                width: 100px;
                margin-right: 12px;
            }
            .blockItemText{
                white-space: break-spaces;
                padding-left: 20px;
                box-sizing: border-box;
                width: calc(100% - 20px);
                display: none;
            }
            .blockItem.expand .blockItemText{
                display: block;
            }
            .newsItemTitle{
                font-weight: bold;
            }
            .blockItem{}

    body
        .container
            #app
                a.mt-4(href="http://may.stv.local") Вернуться к основному окну
                select.mt-2( class="form-select" aria-label="Default select example" onchange="changeProg(this.value)")
                    option(value=0) Выберите программу
                    each p in prog
                        option(value=p.id) !{p.Name}
            .workContainer
                .newsContainer
                .blockContainer
        script.
            async function changeProg(id){
                let dt=await axios.get("/news/"+id);
                document.querySelector(".newsContainer").innerHTML=dt.data
                document.querySelectorAll(".newsItem").forEach(e=>{
                    let newsid=e.getAttribute("newsid")
                    let isArchive=e.getAttribute("isarchive")
                    e.querySelector(".scriptBtn").onclick=()=>{
                        let url="BlockScript?newsid="+newsid;
                        if(isArchive)
                            url+="&isarchive=true";
                        window.open(url,'_blank', 'width=' + window.screen.availWidth / 2 + ',height=' + window.screen.availHeight / 2 + ',resizable=1')
                    }
                    e.onclick=async()=>{

                        let blocks;
                        if(e.getAttribute("isarchive"))
                            blocks =await axios.get("/archblocks/"+newsid);
                        else
                            blocks =await axios.get("/blocks/"+newsid);
                        document.querySelector(".blockContainer").innerHTML = blocks.data
                        document.querySelectorAll(".blockItem").forEach(e=>{
                            let textElem=e.querySelector(".blockItemTextValue");
                            if(textElem) {
                                let a = textElem.innerHTML
                                textElem.innerHTML = a
                                    .replace(/(\(\([^\)]*(?:\)[^\)]+)*\)\))/gm, "<div style='color:red'>$1</div>")
                                    .replace(/[\r\n]{2+}/g,"\n\n")
                                console.log(textElem.innerHTML)
                            }
                            e.querySelector(".blockItemTitleWr").onclick=()=>{
                                e.classList.toggle("expand");
                            }

                        })
                    }

                })
            }


