.news
    if n.length>0

    .mt-1
    each n in news
        .newsItem.mb-3(isArchive=n.isArchive newsid=n.id)
            .newsItemTitle #{n.Name}
            .newsItemDate #{n.dt}
            .newsItemDate #{n.editor}
            .newsButton.mt-1
                input(type="button" value="Выбрать")
                input.scriptBtn(type="button" value="Скрипт")
                input.staffBtn(type="button" value="Персонал")
